/*
color pallette

https://colorhunt.co/palette/155241

#f0dd92
#ffffc5
#d6e4aa
#83b582

*/

:root {
    --bg: whitesmoke;
}

body {
    background-color: var(--bg);
    font-family: 'Quicksand', sans-serif;
}

.Viz {
    width: 80%;
    
    /*center horizontally*/
    margin: auto;
    
    background-color: #f0dd92;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
    text-align: center;
    
    perspective: 2000px;
    perspective-origin: bottom right;
}

.Viz-header {
    grid-row: 1;
    background-color: #83b582;
    padding: 10px;
}

.Viz-header label {
    position: relative;
    z-index: 2;
}

.Viz-wrapper {
    display: flex;
    justify-content: center;
    height: 550px;
}

.Viz-item {
    display: grid;
    grid-template-rows: 8fr 1fr;
    grid-template-columns: 1fr 1fr;
    padding: 0vw .3vw;
    
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.67, -0.51, 0.42, 1.43);
    transition-delay: .2s;
    
    /*makes scale transition go up and left/right but not down*/
    transform-origin: bottom;

}

.Viz-item:hover {
    transform: scale(1.3);
    z-index: 1;
}

.Viz-data {
    align-self: end;
    width: 2vw;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    padding-bottom: 1px;
}


.Viz-regular {
    background-color: #ffffc5;
    margin-right: 1px;
}

.Viz-playoff {
    background-color: #d6e4aa;
}

.Viz-label {
    grid-column: 1 / span 2;
    margin-top: 10px;
}

.Viz-data {
    position: relative;
}

.Viz-data label {
    position: absolute;
    top: -20px;
    
    /*center horizontally within parent*/
    left: 0;
    right: 0;
    margin: auto;
    
}


/*@media at certain width increase .VizContainer width to 100%*/
@media only screen and (max-width: 1100px) {
.Viz {
    width: 100%;
}
}


